@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global CSS */
*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background: rgb(150,161,255);
background: linear-gradient(135deg, rgba(150,161,255,1) 0%, rgba(21,61,160,1) 35%, rgba(21,61,160,1) 65%, rgba(150,161,255,1) 100%);
}
hr{
    border-color: white;
}
.title{
    background-color: #068FFF;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* Bagian Kepengurusan */
#kepengurusan {
    text-align: center;
}
#kepengurusan img{
    width: 300px;
}
#kepengurusan .container{
    color: white;
}
#kepengurusan .shadow{
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 200px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(70px);
    -webkit-filter: blur(70px);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
#kepengurusan .container {
    display: flex;
    justify-content: center;
}
/* Bagian Blog */
.btn-baca{
    padding: 10px 50px 10px 50px;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: large;
    border: 1px solid white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-baca:hover{
    background-color: #068FFF;
    color: white;
}
#blog img {
    width: 500px;
}
#blog .row{
    color: white;
}
.title-blog {
    font-weight: 700;
}
/* Bagian Footer */

.footer{
    background-color: #184082;
    height: auto;
    width: 100%;
    border-radius: 30px 30px 0 0;
    margin-right: -10px;
}
.footer h1{
    font-size: 20px;
}
.footer h3{
    font-size: 15px;
    width: 260px;
    line-height: 15px;
}
.footer .sosmed img{
    width: 30px;
}

.row .col-lg-3 .baseline{
    background-color: #BBEBFF;
    width: 40px;
    height: 5px;
    border-radius: 5px;
}
.footer .baseline{
    margin-bottom: 10px;
}
.footer .copyright{
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.5;
}
